.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 4.4rem 0 3.9rem 0rem;

  &--kontakt {
    margin: 0 0 2rem;
    @mixin atLarge {
      margin-top: 3.6rem !important;
    }
  }

  &--kontakt-form {
    margin: 3rem 0 8rem;
    @mixin atMedium {
      margin: 2.4rem 0 8rem;
    }
  }

  .kontakt__inner-column:nth-of-type(2) &--kontakt-form {
    @mixin atMediumLarge {
      margin: 2.4rem 0 8rem 5rem;
    }
    @mixin atExtraLarge {
      margin: 2.4rem 0 8rem 0rem;
    }
  }

  .kontakt__inner-column:nth-of-type(3) &__container--kontakt-form {
      width: 218px;
      &:before {
        clip-path: polygon(0 0, 100% 0%, calc(100% - 44px) 100%, 0% 100%);
      }
  }

  &--customMarginTop {
    margin-top: 2.1rem;
  }

  &__container {
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    max-width: 285px;
    /* height: 51px; */
    padding: 1.3rem 4.9rem 1.3rem 3.3rem;
    background-color: $footerBlue;

    &:before {
      content: "";
      width: calc(100% - 8px);
      height: calc(100% - 4px);
      clip-path: polygon(0 0, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
      background-color: #fff;
      display: block;
      position: absolute;
      top: 2px;
      left: 3px;
    }
    &:hover > .btn__text{
      color: #fff;
    }
    &:hover:before{ 
     background-color: $crashBlue;
    }
    

    @mixin atLarge {
        & {
          background-color: #fff;
        }
        &:before {
          background-color: $crashBlue;
        }
        &:hover > .btn__text{
          color: $crashBlue;
        }
        &:hover:before{ 
         background-color: #fff;
        }
    }

    &--kontakt {
      background-color: #fff;
      max-width: 269px;
      padding: 1.5rem 4rem 1.5rem 1.5rem;


      &:before {
        background-color: $crashBlue;
        clip-path: polygon(0 0, 100% 0%, calc(100% - 28px) 100%, 0% 100%);
      }

      &:hover > .btn__text--kontakt{
        color: $crashBlue;
      }
      &:hover:before{ 
       background-color: #fff;
      }
    }

    &--kontakt-form {
      width: 197px;
      margin-left: 4.5rem;
      padding: 1.3rem 4rem 1.3rem 1.3rem;
      background-color: #fff;
      clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);

      &::before {
        content: "";
        width: calc(100% - 8px);
        height: calc(100% - 4px);
        clip-path: polygon(0 0, 100% 0%, calc(100% - 40px) 100%, 0% 100%);
        background-color: #fff;
        display: block;
        position: absolute;
        top: 2px;
        left: 3px;
        background-color: $footerBlue;
      }
      &:hover > .btn__text--kontakt{
        color: $footerBlue;
      }
      &:hover:before{ 
       background-color: #fff;
      }

      @mixin atMedium {
        margin-left: 0;
      }
    }

    &--mgl0 {
      margin-left: 0;
    }
  }

  &__text {
    font-family: "Poppins";
    position: relative;
    font-size: 1.6rem;
    font-style: italic;
    color: $footerBlue;
    text-align: center;
    margin: 0;

    &--kontakt {
      color: #fff;
      font-style: italic;
      margin: 0;
      line-height: 1;
    }
  }

  @mixin atLarge {
    &__text {
      color: $navLink;
    }
  }
}

#form-btn {
  cursor: pointer;
}
