.large-hero {
  @mixin atMedium {
    &__triangle {
      &--lighter {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: $lightBlue transparent transparent transparent;
        border-width: 450px 278px 0 0;
      }
      &--mirror {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 450px 0 0 278px;
        border-color: transparent transparent transparent $lightBlue;
      }
    }
  }
}
