.large-hero {
    position: relative;
    padding-top: 7.4rem;

    &__heroimg {
        min-height: 283px;
        object-fit: cover;
        object-position: 80%;
    }

    &__triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 300px 190px 0 0;
        border-color: $footerBlue transparent transparent transparent;
        opacity: 0.8;
    }

    @mixin atMedium {
        &{
            padding-top: 10.34rem;
        }

        &__text {
            max-width: 550px;
        }
        
        &__title {
            font-size: 5.6rem;
        }    

        &__content {
            position: relative;
        }

        &__heroimg {
            min-height: 738px;
        }

        &__triangle {
            border-width: 600px 320px 0 0;
            
        &--revert {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 300px 200px;
            border-color: transparent transparent $mainBlue transparent;
        }
        &--lighter {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: $lightBlue transparent transparent transparent;
            border-width: 450px 278px 0 0;
        }
        &--mirror {
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 450px 0 0 278px;
            border-color: transparent transparent transparent $lightBlue;
        }
        }
    }

    @mixin atMediumLarge {
        &__triangle {
            border-width: 645px 476px 0 0;
            &--revert {
                top: -38px;
                border-width: 0 0 619px 300px;
            }
        }
    }

    @mixin atLarge {
        &__heroimg {
            object-position: center;
        }
        &__title {
            color: $navLink;
            font-size: 4.1rem;
            line-height: 1.5;
        }
        &__triangle {
            display: none;
            
            &--revert {
                display: none;
            }
        }
        
        &__blue-form {
            position: absolute;
            top: 0;
            width: 30%;
            height: 100%;
            opacity: 0.7;
            background-color: $footerBlue;
           
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                /* z-index: -1; */
                background-color: $footerBlue;
                transform-origin: bottom left;
                transform: skew(-23deg, 0deg);
            }
        }

        &__content {
            position: absolute;
            top: 137px;
            max-width: 450px;
            padding-left: 1.6rem;
            font-size: 1.4rem;
            color: $navLink;
    
        }
    }

    @mixin atMediumRev {
        &__content  {
            display: block;
        }
    }

    @media screen and (min-width: 1075px) {
        &__content {
            max-width: 400px;
            font-size: 1.6rem;
        }
    }
    @media screen and (min-width: 1200px) {
        &__content {
            max-width: 440px;
        }
    }
}




