#kontakt {
  scroll-margin-top: 100px;
}
#termin-buchen {
  scroll-margin-top: 100px;
}
#faq {
  scroll-margin-top: 100px;
}
.kontakt {
  &__banner {
    .kontakt__mann-liestImg {
      /* min-width: 360px; */
      min-height: 168px;
      object-fit: cover;
    }
  }
  &__unfall-banner {
    .kontakt__unfallImg {
      min-width: 100%;
    }
    @mixin atExtraLarge {
      & {
        background: url("../images/autoschaden--desktop.jpg");
        background: image-set(
            url("../images/autoschaden--desktop.webp") 1x,
            url("../images/autoschaden--desktop@2x.webp") 2x
          ),
          image-set(
            url("../images/autoschaden--desktop.jpg") 1x,
            url("../images/autoschaden--desktop@2x.jpg") 2x
          );
        background-repeat: no-repeat;
        background-position: right center;

        .kontakt__unfallImg {
          display: none;
        }
      }
    }
    @media screen and (min-width: 1900px) {
      & {
        background-size: 50%;
      }
    }

    .kontakt__form {
      background-color: $crashBlue;
      color: #fff;
      padding: 1rem 1.6rem;
      p {
        max-width: 639px;
      }
      @mixin atMediumLarge {
        & {
          clip-path: polygon(0 0, 99% 0, 70% 100%, 0% 100%);
          height: 471px;
          margin-top: 0.8rem;
          padding-left: 6.8rem;
        }
      }

      @mixin atExtraLarge {
        & {
          clip-path: polygon(0 0, 72% 0, 52% 100%, 0% 100%);
          height: 450px;
        }
      }
      @media screen and (min-width: 1400px) {
        & {
          height: 471px;
        }
      }
      @media screen and (min-width: 1900px) {
        & {
          height: 544px;
          padding-top: 7.4rem;
          padding-left: 28.1rem;
        }
      }
    }
  }
  @mixin atMediumLarge {
    .leistungen__card--kontakt {
      ul {
        transform: skewX(-30deg);
        padding-left: 8.6rem;
        padding-bottom: 4.5rem;

        li {
          transform: skewX(30deg);
          padding-bottom: 1rem;
        }
      }
    }
  }

  @mixin atExtraLarge {
    &__banner {
      position: relative;

      .leistungen__card--kontakt {
        position: absolute;
        top: 50%;
        right: 0;
        width: 880px;
        transform: translateY(-50%);
      }
    }
  }

  @media screen and (min-width: 1900px) {
    .leistungen__card--kontakt {
      width: 1048px;
    }
  }

  h3,
  ul li {
    color: #fff;
    text-align: left;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      padding-bottom: 1rem;
      &:first-of-type {
        padding-bottom: 1.5rem;
      }
      &:last-of-type {
        padding-bottom: 0rem;
      }
    }

    @mixin atMedium {
      & {
        padding-left: 5rem;
      }
    }

    @mixin atMediumLarge {
      & {
        padding-left: 0;
      }
    }
  }

  &__trio p {
    max-width: 348px;
    margin: 0 auto;
    padding-bottom: 10.8rem;
  }
  @mixin atMediumLarge {
    &__trio:first-of-type p {
      padding-bottom: 9.2rem;
    }
    &__trio:nth-of-type(2) p,
    &__trio:last-of-type p {
      padding-bottom: 8.4rem;
    }
  }
  @mixin atExtraLarge {
    &__trio p {
      padding-bottom: 20.52rem !important;
    }
  }

  &__break-none {
    display: none;

    @mixin atMedium {
      & {
        display: block;
      }
    }

    @mixin atExtraLarge {
      & {
        display: none;
      }
    }
  }

  &__ausrufezeichen {
    display: none;

    @mixin atExtraLarge {
      display: block;
      position: absolute;
      font-family: "Poppins";
      font-size: 5.6rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__form-container {
    background-color: $footerBlue;
    color: #fff;

    .kontakt__custom-container {
      @mixin atMedium {
        max-width: 604px;
        margin: 0 auto;
      }
      @mixin atMediumLarge {
        max-width: 656px;
        margin: 0 auto;
      }
      @mixin atExtraLarge {
        max-width: 1140px;
        margin: 0 auto;
      }
      @media screen and (min-width: 1300px) {
        max-width: 1253px;
        margin: 0 auto;
        padding: 6.3rem 0 2rem;
      }

      @media screen and (min-width: 1999px) {
        .kontakt__inner-column {
        
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .kontakt__text-wrapper {
      padding: 0 4.5rem 0rem;

      @mixin atMedium {
        padding: 0;

        ul {
          padding-left: 0;
        }
      }

      @mixin atExtraLarge {
        ul {
          margin-top: 2rem;
        }
      }

      &--lineheight li {
        line-height: 1;
        display: flex;
        justify-content: space-between;
      }

      .customPadding {
        padding-right: 2.1rem;
      }
      .customPaddingdown {
        padding-bottom: 7.5rem;

        @mixin atMedium {
          padding-bottom: 11rem;
        }

        @mixin atExtraLarge {
          padding-bottom: 13.5rem;
        }
      }
    }

    .kontakt__karteImg {
      width: 344px;
      @mixin atMedium {
        width: 250px;
      }
    }

    .kontakt__narrow {
      padding: 0;
    }

    ul {
      max-width: 252px;
    }

    form textarea {
      display: block;
      width: 100%;
      min-width: 324px;
      min-height: 100px;
      resize: vertical;
      border: none;
      @mixin atExtraLarge {
        min-width: auto;
      }
    }
    form input,
    form select {
      display: block;
      font-family: "Roboto Slab";
      width: 100%;
      min-width: 324px;
      height: 24px;
      padding: 0.5rem;
      margin-top: 0.7rem;
      margin-bottom: 2rem;
      border: none;
      @mixin atExtraLarge {
        min-width: auto;
      }
    }
    form select {
      font-size: 1.4rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

      #submit {
      position: relative;
      width: 184px;
      margin-top: 2.4rem;
      margin-bottom: 4.8rem;
      padding: 1.3rem 4rem 1.3rem 1.3rem;
      clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
      background-color: #fff;
      cursor: pointer;
      border: none;
      font-family: 'Poppins';
      color: #fff;
      font-size: 1.6rem;
      text-transform: uppercase;

      @mixin atExtraLarge {
        margin-top: 1rem;
      }

      &::before {
        content: "";
        width: calc(100% - 8px);
        height: calc(100% - 4px);
        clip-path: polygon(0 0, 100% 0%, calc(100% - 38px) 100%, 0% 100%);
        display: block;
        position: absolute;
        top: 2px;
        left: 3px;
        background-color: $footerBlue;
        z-index: -1;
      }
      &:hover > .btn__text--kontakt{
        color: $footerBlue;
      }
      &:hover:before{ 
        background-color: #fff;
       }
      
    }

    form label {
      font-family: "Roboto Slab";
      font-size: 1.6rem;
    }

    form input:invalid {
      border-color: red;
    }
    form input:valid {
      border-color: green;
    }

    @mixin atMedium {
      form {
        max-width: 250px;
      }
    }

    @mixin atExtraLarge {
      form {
        padding-top: 1.6rem;
        max-width: 275px;
      }
    }

    .ohnohoney {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
    }
  }

  &__accordion--tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  &__accordion {
    overflow: hidden;
  }
  &__accordion--tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem;
      background: $mainBlue;
      font-family: "Roboto Slab";
      font-size: 1.4rem;
      cursor: pointer;
    
      &:hover {
        background-color: color(#2172c0 shade(10%));
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
    }
    &-content {
      max-height: 0;
      color: $mainBlue;
      background: white;
      transition: all 0.35s;

      ul {
        list-style-type: initial;
        margin-left: 2rem;
      }
      ul li {
        color: $mainBlue;
      }
    }
  }

  &__accordion--tab input:checked {
    + .kontakt__accordion--tab-label {
      background-color: color(#2172c0 shade(10%));
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .kontakt__accordion--tab-content {
      max-height: 100vh;
      padding: 0 1rem 0 1rem;
    }
    @media screen and (min-width: 500px) {
      ~ .kontakt__accordion--tab-content {
          padding: 1rem 1.6rem;
      }
    }
  }

  &__faq-bg {
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 3.2rem;
  }
  &__faq {
    padding-bottom: 6.4rem;
    max-width: 339px;
    margin: 0 auto;
  }
  @media screen and (min-width: 500px) {
    &__faq {
      max-width: 439px;
    }
  }
  @media screen and (min-width: 700px) {
    &__faq {
      max-width: 695px;
    }
  }
}

footer {
  width: 100%;
  background-color: $crashBlue;
  color: #fff;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
  }

  .footer__delimiter span {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
