.kontakt {
    &__unfall-banner {
        .kontakt__unfallImg {
            min-width: 100%;
        }
        @mixin atExtraLarge {
            & {
                background: url('../images/autoschaden--desktop.jpg');
                background: 
                    image-set(
                        url('../images/autoschaden--desktop.webp') 1x,
                        url('../images/autoschaden--desktop@2x.webp') 2x
                    ),
                    image-set(
                        url('../images/autoschaden--desktop.jpg') 1x,
                        url('../images/autoschaden--desktop@2x.jpg') 2x
                        );
                background-size: 48%;
                background-repeat: no-repeat;
                background-position: right center;

                .kontakt__unfallImg {
                    display: none;
                }
            }
        }
        .kontakt__form {
            background-color: $crashBlue;
            color: #fff;
            padding: 1rem 1.6rem;
            p {
                max-width: 639px;
            }
            @mixin atMediumLarge {
                & {
                    clip-path: polygon(
                        0 0, 
                        99% 0, 
                        70% 100%, 
                        0% 100%);
                    margin-top: 0.8rem;
                    padding-left: 6.8rem;
                }
            }

            @mixin atExtraLarge {
                & {
                    clip-path: polygon(
                        0 0, 
                        72% 0, 
                        52% 100%, 
                        0% 100%);
                }
            }
        }
    }
    @mixin atMediumLarge {
        .leistungen__card--kontakt {
            ul {
                transform: skewX(-30deg);
                padding-left: 8.6rem;
                padding-bottom: 4.5rem; 

                li {
                    transform: skewX(30deg);
                    padding-bottom: 1rem;
                }
            }
        }
    }

    @mixin atExtraLarge {
        &__banner {
            position: relative;
    
            .leistungen__card--kontakt {
                position: absolute;
                top: 50%;
                right: 0;
                width: 880px;
                transform: translateY(-50%);
            }
        }
    }

    h3, ul li {
        color: #fff;
        text-align: left;
    }

    ul {
        list-style: none;
        padding-left: 0;
        
        li {
            padding-bottom: 1.6rem;
            
        }

        @mixin atMedium {
            & {
                padding-left: 5rem;
            }
        }

        @mixin atMediumLarge {
            & {
                padding-left: 0;
            }
        }
        
    }

    &__trio p{
        max-width: 348px;
        margin: 0 auto;

        &:first-of-type {
            padding-bottom: 9.2rem;
        }
    }

    &__break-none {
        display: none;

        @mixin atMedium {
            & {
                display: block;
            }
        }

        @mixin atExtraLarge {
            & {
                display: none;
            }
        }
    }

    &__ausrufezeichen {
        display: none;

        @mixin atExtraLarge {
            display: block;
            position: absolute;
            font-family: 'Poppins';
            font-size: 5.6rem;
        }
    }

    &__form-container {
        background-color: $footerBlue;
        color: #fff;

        .kontakt__text-wrapper {
            padding: 3.9rem 4.5rem 2.8rem;
        }

        .kontakt__narrow {
            padding: 0;
        }
        
        form textarea {
            width: 100%;
        }
        form input, form select{
            width: 100%;
            padding: .5rem;
            margin-bottom: 2rem;
        }
        .ohnohoney {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
    
    }
}