#leistungen {
  scroll-margin-top: 400px;
  @mixin atLarge {
    scroll-margin-top: 100px;
  }
}
.leistungen {
  position: relative;

  &__title {
    line-height: 1.6;
  }

  &__list {
    list-style-type: none;
    padding-right: 1.6rem;
  }

  &__list li {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 2.4rem;

    &:before {
      content: "-";
      position: absolute;
      margin-left: -2rem;
    }
  }

  &__list li:first-of-type {
    padding-top: 2.1rem;

    @mixin atMedium {
      & {
        padding-top: 0;
      }
    }
  }

  &__list li:last-of-type {
    padding-bottom: 0rem;
  }

  &__form-container {
    position: relative;
    width: 100%;
    height: 91px;

    @mixin atExtraLarge {
      & {
        display: none;
      }
    }
  }

  &__question-icon {
    display: none;
  }

  &__nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__unfallImg, &__trioImg {
    min-width: 100%;
  }

  &__wrapper {
    display: inline-block;
    width: 100%;
    background-color: $crashBlue;
    color: $navLink;

    &--white {
      background-color: #fff;
    }

    .leistungen__messagebox {
      position: relative;
      margin: 2rem 2.8rem;
      background-color: $crashBlue;
      border: 2px solid $navLink;
      padding: 1.9rem 2.4rem;

      &--lightBg {
        background-color: $mainBlue;
        border: none;
      }

      .leistungen__message-text {
        max-width: 385px;
      }

      &--speech:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: -34px;
        top: -2px;
        transform: rotate(91deg);
        border: 17px solid;
        border-color: #fff transparent transparent #fff;
      }

      &--speech:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0px;
        left: -29px;
        bottom: -31px;
        transform: rotate(90deg);
        border: 15px solid;
        border-color: $crashBlue transparent transparent $crashBlue;
      }

      &--right:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: -2px;
        right: -34px;
        transform: rotate(0deg);
        border: 17px solid;
        border-color: #fff transparent transparent #fff;
      }

      &--right:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0px;
        right: -29px;
        bottom: -31px;
        transform: rotate(0deg);
        border: 15px solid;
        border-color: $mainBlue transparent transparent $mainBlue;
      }
    }
  }

  &__our-priority {
    overflow: hidden;

    &-container {
      position: relative;
      /* padding-left: 15px;
            padding-right: 15px; */
      max-width: 385px;
      margin: 0 auto;
    }

    &-text-box {
      padding: 0 1.6rem 2.4rem;
      &:first-of-type {
        padding-top: 1.5rem;
      }
      &:nth-of-type(2) {
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        @mixin atMedium {
          & {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
      &:last-of-type {
        padding-bottom: 0.4rem;
      }
      .our-priority__title {
        margin-bottom: 1.8rem;
        &:last-child {
          max-width: 50%;
        }
      }
    }
  }

  &__unfallbegutachtungImg {
    min-width: 100%;
  }

  &__dropshadow {
    filter: drop-shadow(0px 3px 6px #00000029);
  }
  &__dropshadow:nth-of-type(odd) {
    .leistungen__card-height {
      @mixin atMedium {
        margin-left: auto;
        margin-right: 0;
      }
  }
}
  &__dropshadow:nth-of-type(even) {
    .leistungen__card-height {
      @mixin atMedium {
        margin-right: auto;
        margin-left: 0;
      }
  }
}

  &__card-height {
    max-width: 304px;
    height: 320px;
  }
 
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* width: 304px; */
    /* height: 320px; */
    margin: 0 auto 2.4rem;
    padding: 4.8rem 2.9rem;
    background: #fff;
    clip-path: polygon(
      20px 0,
      100% 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 100%,
      0 20px
    );

    &--weitere-leistungen {
      background-color: $secondaryBlue;
      height: auto;
      padding: 3.2rem 1.6rem 3.6rem;

      h4,
      p {
        color: #fff;
      }

      @mixin atMedium {
        & {
          flex-direction: row;
          padding: 0 0 1rem; 
          padding-left: 3.2rem !important;
          min-height: 200px;
        }
        .ueber-uns__text {
          max-width: 531px;
          text-align: left;
          padding-left: 3.2rem;
        }
      }
      @mixin atMediumLarge {
        & {
          max-width: 691px !important;
        }
      }
      @mixin atExtraLarge {
        & {
          max-width: 530px !important;
          height: 220px;
          padding-left: 3.2rem !important;
          margin-bottom: 4.8rem;
          &:nth-of-type(odd) {
            margin-right: 4rem;
          }
        }
        .ueber-uns__text {
          max-width: 421px;
          height: 100%;

          h4 {
            margin: 1.2rem 0 0;
          }
        }
      }

      @media screen and (min-width: 1440px) {
        & {
          max-width: 691px !important;
        }
        .ueber-uns__text {
          max-width: 531px;
          height: auto;
        }
      }
    }

    &--kontakt {
      max-width: 100%;
      background-color: $footerBlue;
      padding: 0 1.6rem 1.8rem;
      clip-path: polygon(
        20px 0,
        100% 0,
        100% 0,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 30px
      );

      @mixin atMedium {
        & {
          margin-top: 0.8rem;
          clip-path: polygon(
            10% 0,
            100% 0,
            100% 0,
            100% 100%,
            100% 100%,
            0 100%,
            0 100%,
            0 35%
          );
        }
      }

      @mixin atMediumLarge {
        & {
          clip-path: polygon(25% 0, 100% 0%, 100% 100%, 4% 100%);
        }
      }

      @mixin atExtraLarge {
        & {
          clip-path: polygon(24% 0, 100% 0%, 100% 100%, 1% 100%);
        }
      }
    }

    &--kontakt-outer {
      min-width: 100%;
      background-color: $lightBlue;
      padding: 2.4rem 0.8rem 0;

      @mixin atMedium {
        padding: 4rem 0 1.6rem;
      }

      @mixin atExtraLarge {
        padding-bottom: 4rem;
      }
    }

    &--kontakt-wrapper {
      min-width: 100%;
      .leistungen__dropshadow:nth-of-type(1), 
      .leistungen__dropshadow:nth-of-type(3) {
        .leistungen__card--kontakt-inner {
          @mixin atMediumLarge {
            margin-right: auto;
            margin-left: 6.8rem;
          }
        }
      }
      .leistungen__dropshadow:nth-of-type(2), 
      .leistungen__dropshadow:nth-of-type(4) {
        .leistungen__card--kontakt-inner {
          @mixin atMediumLarge {
            margin-left: auto;
            margin-right: 6.8rem;
          }
        }
      }
      .leistungen__dropshadow:nth-of-type(2),
      .leistungen__dropshadow:nth-of-type(3) {
        .leistungen__card--kontakt-inner {
          clip-path: polygon(
            0 0,
            calc(100% - 32px) 0%,
            100% 32px,
            100% 100%,
            32px 100%,
            0% calc(100% - 32px)
          );
        }
      }
      /* @mixin atMedium {
        min-width: 100%;
      } */

      @mixin atExtraLarge {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
      }

      @media screen and (min-width: 1700px) {
        max-width: 1176px;
        min-width: auto;
      }
    }

    &--kontakt-inner {
      width: auto;
      max-width: 556px;
      padding: 1.9rem 2.5rem;
      text-align: left;
      clip-path: polygon( 32px 0, 100% 0, 100% 0, 100% calc(100% - 32px), calc(100% - 32px) 100%, 0 100%, 0 100%, 0 32px );

      h4 {
        min-width: 100%;
        margin-bottom: 0;
      }

      @mixin atMedium {
        &:not(:nth-of-type(4)) {
          margin-bottom: 4.8rem;
        }
      }

      @mixin atExtraLarge {
        height: 320px;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: flex-start;
        padding: 2.7rem 3.1rem;
        h4 {
          margin-top: 0;
        }

        &:nth-of-type(1) {
          flex: 1;
          flex-basis: 100%;
          margin-right: 3.2rem !important;
          margin-bottom: 3.2rem !important;
        }
        &:nth-of-type(2) {
          flex: 1;
          flex-basis: 100%;
          margin-bottom: 3.2rem !important;
        }
        &:nth-of-type(3) {
          flex: 1;
          flex-basis: 100%;
          margin-right: 3.2rem !important;
        }
        &:nth-of-type(4) {
          flex: 1;
          flex-basis: 100%;
        }
      }
    }
  }

  &__know-how {
    padding-bottom: 6.4rem;
    @mixin atMedium {
      & {
        max-width: 668px;
        padding-bottom: 9.7rem;
      }
    }
    @mixin atMediumLarge {
      & {
        padding-bottom: 11.3rem;
      }
    }
    @mixin atExtraLarge {
      & {
        max-width: 100%;
        padding-bottom: 12.8rem;
      }
    }
  }

  @media screen and (min-width: 600px) {
    &__wrapper &__messagebox {
      max-width: 380px;
    }
    &__md-container {
      width: 100%;
      li {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  @media screen and (min-width: 735px) {
    &__trioImg {
      min-width: 100%;
    }
  }

  @mixin atMedium {
    & {
      margin-top: 6.6rem;
    }

    &__md-container {
      position: relative;
      width: 100%;
    }

    &__md-title-container {
      position: relative;
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__list {
      max-width: 440px;
      margin-left: auto;
      margin-top: 0;
      padding-left: 0;
      padding-right: 3.2rem;
    }

    &__wrapper {
      position: relative;
    }

    &__question-icon {
      display: block;
      font-family: "Roboto Slab";
      font-size: 40rem;
      font-weight: 500;
      color: $mainBlue;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--right {
        color: $secondaryBlue;
        right: 63px;
        transform: translateY(50%);
      }
    }

    &__wrapper &__messagebox {
      max-width: 480px;
      margin-left: auto;
      margin-right: 1.6rem;
      margin-bottom: 2rem;

      &:first-of-type {
        margin-right: 7.8rem;
      }
      &:last-of-type {
        margin-right: 4.8rem;
      }

      &--right {
        margin-left: 1.6rem;

        &:first-of-type {
          margin-left: 8rem;
        }
        &:last-of-type {
          margin-left: 4.8rem;
        }
      }
    }

    &__our-priority-container {
      min-width: 100%;
      margin: auto;
    }

    &__our-priority-text-box {
      max-width: 385px;
      padding: 8.4rem 0 8.4rem;
      margin-left: 9.8rem;

      &--reverse {
        max-width: 367px;
        margin-left: auto;
        margin-right: 10.7rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__wrapper &__messagebox {
      margin: 2rem auto;
      max-width: 350px;
    }
  }
  @media screen and (max-width: 415px) {
    &__wrapper &__messagebox {
      margin: 3.2rem 0.8rem 3.2rem 3rem;
      max-width: 350px;
    }
    &__wrapper--white &__messagebox {
      margin: 3.2rem 3rem 3.2rem 0.8rem;
      max-width: 303px;
    }
  }

  @mixin atMediumLarge {
    &__list {
      max-width: 575px;
      padding-right: 8.4rem;
    }

    .large-hero {
      &__triangle--lighter {
        border-color: $secondaryBlue transparent transparent transparent;
        border-width: 450px 370px 0 0;
        opacity: 0.8;
      }
      &__triangle--mirror {
        border-color: transparent transparent transparent $secondaryBlue;
        border-width: 450px 0 0 370px;
        opacity: 0.8;
      }
    }

    &__wrapper &__messagebox {
      margin-right: 8vw;
      margin-bottom: 3.2rem;

      &:first-of-type {
        margin-top: 4rem;
      }
      &:last-of-type {
        margin-bottom: 4rem;
      }
      &:first-of-type {
        margin-right: 14.8vw;
      }
      &:last-of-type {
        margin-right: 11.6vw;
      }

      &--right {
        margin-left: 8.4rem;

        &:first-of-type {
          margin-left: 14.8rem;
        }
        &:last-of-type {
          margin-left: 11.6rem;
        }
      }
    }

    &__question-icon {
      font-size: 50rem;
      padding-left: 7.5rem;
    }
  }

  @mixin atExtraLarge {
    & {
      margin-top: 0;
    }
    &__container {
      position: relative;
    }

    &__md-title-container &__unfallImg {
      display: none;
    }

    &__question-icon {
      &--question-mark {
        display: none;
      }
    }

    &__md-title-container &__wrapper {
      background: linear-gradient(rgba(#00407d, 0.8), rgba(#00407d, 0.8)),
        url("../images/unfall--desktop.jpg") no-repeat center;
      background: linear-gradient(rgba(#00407d, 0.8), rgba(#00407d, 0.8)),
        image-set(
          url("../images/unfall--desktop.webp") 1x,
          url("../images/unfall--desktop@2x.webp") 2x
        ),
        image-set(
          url("../images/unfall--desktop.jpg") 1x,
          url("../images/unfall--desktop@2x.jpg") 2x
        );

      background-size: cover;
    }

    &__md-title-container {
      img {
        min-height: 1000px;
        object-fit: cover;
      }
    }

    &__list {
      margin-right: auto;
      padding-left: 8.4rem;
      padding-right: 0;
      padding-bottom: 10rem;
      transform: skewX(33deg);
      li {
        transform: skewX(-33deg);
      }
    }

    .large-hero__triangle--lighter,
    .large-hero__triangle--mirror {
      display: none;
    }

    &__md-container {
      overflow-x: hidden;

      .leistungen__form_top-left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 310px;
        height: 530px;
        margin-left: -340px;
        opacity: 0.7;
        background-color: $lightBlue;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $lightBlue;
          transform-origin: top left;
          transform: skew(33deg, 0deg);
        }

        &--right {
          position: absolute;
          bottom: 22%;
          right: 0;
          width: 258px;
          height: 400px;
          margin-left: -230px;
          opacity: 0.7;
          background-color: $lightBlue;

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $lightBlue;
            transform-origin: top left;
            transform: skew(33deg, 0deg);
          }
        }
      }

      .leistungen__form_bottom-left {
        position: absolute;
        top: 0;
        right: 0;
        width: 331px;
        height: 563px;
        margin-right: -496px;
        opacity: 0.7;
        background-color: $secondaryBlue;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $secondaryBlue;
          transform-origin: bottom left;
          transform: skew(33deg, 0deg);
        }

        &--right {
          position: absolute;
          top: 22%;
          right: 0;
          width: 258px;
          height: 396px;
          margin-right: -250px;
          opacity: 0.7;
          background-color: $secondaryBlue;

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: $secondaryBlue;
            transform-origin: bottom left;
            transform: skew(33deg, 0deg);
          }
        }
      }
    }

    &__our-priority-wrapper {
      display: flex;
      flex-direction: row;
    }

    &__our-priority-container {
      flex: 0 0 50%;
      min-width: 50%;
    }

    &__our-priority-column {
      flex: 0 0 50%;
    }

    &__unfallbegutachtungImg {
      min-height: 832px;
      object-fit: cover;
    }

    &__our-priority-text-box {
      padding-top: 5.4rem !important;
      padding-bottom: 0 !important;
      margin-left: 1.6rem;

      &--reverse {
        margin-left: auto;
        margin-right: 1.6rem;
      }
    }
  }

  @media screen and (min-width: 1400px) {
    &__trioImg {
      min-width: auto;
      max-width: 86%;
      margin-left: auto;
    }

    &__question-icon {
      &--right {
        display: none;
      }
    }

    &__wrapper &__messagebox {
      &--right {
        position: absolute;
        top: 20vh;
        left: 0;
        background-color: $mainBlue;
        padding: 1rem;
        margin-top: 0;
        margin-bottom: 0;

        &:first-of-type {
          position: absolute;
          top: 22%;
          margin-left: 11rem;
          margin-top: 0;
          margin-bottom: 0;
        }
        &:nth-of-type(2) {
          position: absolute;
          top: 47.5%;
          margin-left: 3rem;   
        }
        &:last-of-type {
          position: absolute;
          top: 71%;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &__our-priority-text-box {
        margin-left: 6rem;
      &--reverse {
        margin-left: auto;
        margin-right: 6rem;
      }
    }

    .leistungen__wrapper .leistungen__messagebox--right:before {
      display: none;
    }
  }

  @media screen and (min-width: 1900px) {
    .leistungen__wrapper .leistungen__messagebox--right:first-of-type {
      top: 20%;
      margin-left: 25rem;
    }
    .leistungen__wrapper .leistungen__messagebox--right:nth-of-type(2) {
      top: 48%;
      margin-left: 19rem;
      padding-bottom: 0.3rem;
    }
    .leistungen__wrapper .leistungen__messagebox--right:last-of-type {
      margin-left: 24.5rem;
      padding-bottom: 0.3rem;
    }
    .leistungen__wrapper .leistungen__messagebox--right {
      padding: 0 6.5rem 2.7rem 3.2rem;
    }

    &__our-priority-text-box {
      margin-left: 12rem;
      &--reverse {
        margin-left: auto;
        margin-right: 4rem;
      }
    }
  }
}
