.leistungen {
    position: relative;

   &__list {
       list-style-type: none;
    }

   &__list li {
       font-size: 1.8rem;
       font-weight: 700;
       padding-bottom: 2.4rem;

       &:before {
           content: '-';
           position: absolute;
           margin-left: -2rem;
       }
   }

   &__list li:first-of-type {
        padding-top: 2.1rem;
        
        @mixin atMedium {
            & {
                padding-top: 0;
            }
        }
    }

    &__list li:last-of-type {
            padding-bottom: 0rem;
    }

    &__form-container {
        position: relative;
        width: 100%;
        height: 91px;

        @mixin atExtraLarge {
            & {
                display: none;
            }
        }
    }

    &__question-icon {
        display: none;
    }

    &__wrapper {
        display: inline-block;
        width: 100%;
        background-color: $crashBlue;
        color: $navLink;

        &--white {
            background-color: #fff;
        }

        .leistungen__messagebox {
            position: relative;
            /* width: 280px; */
            margin: 2rem 2.8rem;
            background-color: $crashBlue;
            border: 2px solid $navLink;
            padding: 2rem;

            &--lightBg {
                background-color: $mainBlue;
            }
        
        .leistungen__message-text {
            max-width: 385px;
        }

        &--speech:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: -34px;
            top: -2px;
            transform: rotate(91deg);
            border: 17px solid;
            border-color: #fff transparent transparent #fff;
        }

        &--speech:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 0px;
            left: -29px;
            bottom: -31px;
            transform: rotate(90deg);
            border: 15px solid;
            border-color: $crashBlue transparent transparent $crashBlue;
        }

        &--right:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -2px;
            right: -34px;
            transform: rotate(0deg);
            border: 17px solid;
            border-color: #fff transparent transparent #fff;
        }
        
        &--right:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 0px;
            right: -29px;
            bottom: -31px;
            transform: rotate(0deg);
            border: 15px solid;
            border-color: $mainBlue transparent transparent $mainBlue;
            }
        }   
    }

    @media screen and (min-width: 600px) {
        &__wrapper &__messagebox {
            max-width: 380px;
        }
        &__md-container {
        width: 100%;
        li {
            max-width: 500px;
            margin: 0 auto;
            }
        }
    }
    
    @media screen and (min-width: 735px) {
        &__trioImg {
            min-width: 100%;
        }
    }
    @mixin atMedium {
        & {
            margin-top: 6.6rem;
        }

        &__md-container {
            position: relative;
            width: 100%;
        }

        &__md-title-container {
            position: relative;
            width: 100%;

            img {
                width: 100%;
            }

            .headline--picture {
                /* display: block; */
                position: absolute;
                top: 0;
                right: 0;
                padding: 5rem 5.6rem;
                max-width: 420px;
                text-align: left;
            }
        }

        &__list {
            max-width: 440px;
            margin-left: auto;
            margin-top: 0;
            padding-left: 0;
            padding-right: 3.2rem;
        }

        &__wrapper {
            position: relative;
            
        }

        &__question-icon {
            display: block;
            font-family: 'Roboto Slab';
            font-size: 40rem;
            font-weight: 500;
            color: $mainBlue;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &--right {
                color: $secondaryBlue;
                right: 63px;
                transform: translateY(50%);
            }
        }

        /* &__wrapper .headline {
            display: none;
        } */

        &__wrapper &__messagebox {
            max-width: 480px;
            margin-left: auto;
            margin-right: 1.6rem;
            margin-bottom: 2rem;
            
            &:first-of-type {
                margin-right: 7.8rem;
            }
            &:last-of-type {
                margin-right: 4.8rem;
            }

            &--right {
                margin-left: 1.6rem;
            
            &:first-of-type {
            margin-left: 8rem;
            }
            &:last-of-type {
            margin-left: 4.8rem;
            }      
        }
    }
}

@media screen and (max-width: 768px) {
    &__wrapper &__messagebox {
        margin: 2rem auto;
        max-width: 350px;
    }
}
    @mixin atMediumLarge {
        &__list {
            max-width: 575px;
            padding-right: 8.4rem;
        }

        .large-hero {
            &__triangle--lighter {
                border-color: $secondaryBlue transparent transparent transparent;
                border-width: 550px 370px 0 0;
                opacity: 0.8;
            }
            &__triangle--mirror {
                border-color: transparent transparent transparent $secondaryBlue;
                border-width: 550px 0 0 370px;
                opacity: 0.8;
            }
        }

        &__wrapper &__messagebox {
            margin-right: 8vw;
            margin-bottom: 3.2rem;

            &:first-of-type {
                margin-top: 4rem;
            }
            &:last-of-type {
                margin-bottom: 4rem;
            }
            &:first-of-type  {
                margin-right: 14.8vw;
            }
            &:last-of-type {
                margin-right:11.6vw;
            }

            &--right {
                margin-left: 8.4rem;
            
                &:first-of-type {
                margin-left: 14.8rem;
                }
                &:last-of-type {
                margin-left: 11.6rem;
                }      
            }
        }

        &__question-icon {
            font-size: 50rem;
            padding-left: 7.5rem;
        }
    }

    @mixin atExtraLarge {
    & {
        margin-top: 0;
    }
    &__container {
        position: relative;
    }

    &__md-title-container &__unfallImg{
            display: none;
    }

    &__md-title-container &__wrapper {
        background: url('../images/unfall--large.jpg') no-repeat center;
        background-size: cover;
    }

    &__md-title-container {
        img {
            min-height: 1000px;
            object-fit: cover;
        }
    }

    &__list {
        margin-right: auto;
        padding-left: 8.4rem;
        padding-right: 0;
        padding-bottom: 10rem;
        transform: skewX(33deg);
        li {
            transform: skewX(-33deg);
        }
    }
    .large-hero__triangle--lighter,  .large-hero__triangle--mirror {
        display: none;
    }

    &__md-container {
        overflow-x: hidden;
        .leistungen__form_top-left {           
            position: absolute;
            bottom: 0;
            left: 0;
            width: 410px;
            height: 630px;
            margin-left: -340px;
            opacity: 0.7;
            background-color: $lightBlue;
        
        &--right {
            position: absolute;
            bottom: 22%;
            right: 0;
            width: 358px;
            height: 550px;
            margin-left: -230px;
            opacity: 0.7;
            background-color: $lightBlue;

            &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $lightBlue;
            transform-origin: top left;
            transform: skew(33deg, 0deg);
            }
        }
            &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $lightBlue;
            transform-origin: top left;
            transform: skew(33deg, 0deg);            
            }
        }

    .leistungen__form_bottom-left {
            position: absolute;
            top: 0;
            right: 0;
            width: 431px;
            height: 663px;
            margin-right: -496px;
            opacity: 0.7;
            background-color: $secondaryBlue;

            &--right {
                position: absolute;
                top: 26%;
                right: 0;
                width: 358px;
                height: 546px;
                margin-right: -250px;
                opacity: 0.7;
                background-color: $secondaryBlue;

                &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: $secondaryBlue;
                transform-origin: bottom left;
                transform: skew(33deg, 0deg);
                }
            }
                
            &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $secondaryBlue;
            transform-origin: bottom left;
            transform: skew(33deg, 0deg);            
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    &__trioImg {
        min-width: auto;
        max-width: 86%;
        margin-left: auto;
    }

    &__question-icon {
        display: none;
    }

    &__wrapper &__messagebox {
        
        &--right {
            position: absolute;
            top: 20vh;
            left: 0;
            background-color: $mainBlue;

            &:first-of-type {
                position: absolute;
                top: 14%;
                margin-left: 11rem;
            }
            &:nth-of-type(2) {
                position: absolute;
                top: 42%;
                margin-left: 3rem;
            }
            &:last-of-type {
                position: absolute;
                top: 68%;
            }
        }
    }
}



}

