.site-header {
  &__form {
    &--revert {
      width: 50%;
      height: 67px;
      top: 0.5vh;
      left: 0;
      background-color: $lightBlue;
      opacity: 0.3;
      z-index: -1;
      &:after {
        transform-origin: bottom right;
        background-color: $lightBlue;
      }
    }

    &--lighter {
      width: 138px;
      top: 61%;
      transform: translateY(-50%);
      background-color: $lightBlue;
      opacity: 0.5;
      &:after {
        background-color: $lightBlue;
      }
    }

    &--our-priority {
      width: 190px;
      height: 247px;
      top: 24px;
      right: 10px;
      margin-right: -19rem;
      background-color: $secondaryBlue;
      opacity: 0.2;
      z-index: -1;
      &:after {
        transform-origin: top right;
        transform: skewX(-30deg);
        background-color: $secondaryBlue;
      }
    }

    &--our-priority-revert {
      width: 190px;
      height: 247px;
      top: 34.5%;
      left: 10px;
      margin-left: -19rem;
      background-color: $secondaryBlue;
      opacity: 0.2;
      z-index: -1;
      &:after {
        transform-origin: bottom left;
        transform: skewX(-30deg);
        background-color: $secondaryBlue;
      }
    }

    &--our-priority-custom {
      width: 258px;
      height: 304px;
      top: 65%;
      right: 0;
      margin-right: -19rem;
      background-color: $secondaryBlue;
      opacity: 0.2;
      z-index: -1;
      &:after {
        transform-origin: top right;
        transform: skewX(-30deg);
        background-color: $secondaryBlue;
      }
    }

    &--ueber-uns {
      display: block !important;
      position: relative;
      top: 0;
      width: 82vw;
      min-height: 80px;
      margin-bottom: 0.8rem;
      background-color: $mainBlue;
      opacity: 1;
      &:after {
        background-color: $mainBlue;
        z-index: -1;
      }

      @mixin atMedium {
        min-height: 104px;
      }
      @mixin atExtraLarge {
        min-height: 80px;
      }
    }

    @mixin atMedium {
      &--revert {
        display: none;
      }

      &--lighter {
        display: none;
      }

      &--our-priority {
        top: 0%;
        right: 7%;
        background-color: $lightBlue;
        opacity: 1;

        &:after {
          background-color: $lightBlue;
        }
      }

      &--our-priority-revert {
        top: 33%;
        left: 5%;
        margin-left: -11rem;
        background-color: $secondaryBlue;
        opacity: 1;

        &:after {
          background-color: $secondaryBlue;
        }
      }

      &--our-priority-custom {
        width: 278px;
        height: 288px;
        top: 72%;
        right: 6%;
        margin-right: -232px;
        background-color: $boxBlue;
        opacity: 1;

        &:after {
          background-color: $boxBlue;
        }
      }
    }

    @mixin atMediumLarge {
      &--our-priority {
        width: 336px;
        right: 0%;
      }

      &--our-priority-revert {
        width: 420px;
        left: 0;
      }

      &--our-priority-custom {
        width: 488px;
        right: 0;
      }
    }

    @mixin atExtraLarge {
      &--our-priority {
        width: 50%;
        top: 5%;
        right: 0%;
      }

      &--our-priority-revert {
        width: 30%;
        top: 36%;
        left: 0;
      }

      &--our-priority-custom {
        width: 50%;
        right: 0;
      }

      &--ueber-uns {
        position: absolute;
        top: 1vh;
        left: 0;
        width: 60vw;
        height: 80px;
        padding: 0;
        margin-bottom: 0;
        z-index: 1;
        opacity: 0.8;
      }
    }

    @media screen and (min-width: 1500px) {
      &--ueber-uns {
        top: 5vh;
        width: 45vw;
        height: 104px;
      }
    }
    @media screen and (min-width: 1500px) {
      &--ueber-uns {
        width: 41vw;
      }
    }

    @media screen and (min-width: 1900px) {
      &--our-priority {
          width: 37%;
      }
      &--our-priority-revert {
        width: 49%;
      }

      &--our-priority-custom {
        width: 48%;
      }
    }
  }
}
