#ueber-uns {
  scroll-margin-top: 400px;
  @mixin atLarge {
    scroll-margin-top: 100px;
  }
}
.ueber-uns {
  position: relative;

  &__teamImg {
    width: 100%;
    margin: 0 auto;
  }

  &__blue-bg {
    margin-top: 0.8rem;
    padding-top: 0.7rem;
    padding-bottom: 1.2rem;
    background-color: $mainBlue;
    color: #fff;

    @mixin atMedium {
      & {
        padding: 3rem 4.8rem !important;
      }
    }
    @mixin atMediumLarge {
      & {
        padding: 3.9rem 4.8rem 5.2rem !important;
      }
    }
    @mixin atExtraLarge {
      & {
        padding: 6rem 4.8rem !important;
      }
    }
  }

  &__text-container {
    max-width: 672px;
    margin: 0 auto !important;

    @mixin atExtraLarge {
      & {
        max-width: 1334px;
      }
    }
  }

  &__capital-letter {
    font-size: 5rem;
    float: left;
    line-height: 4.8rem;
    padding-right: 0.5rem;
  }

  &__mitarbeiterImg {
    width: 252px;
    margin: 0 auto;
    @mixin atExtraLarge {
      width: 310px;
    }
  }

  &__name {
    font-family: "Poppins";
    font-size: 2.4rem;
    color: $footerBlue;
  }

  &__abschluss {
    font-size: 1.6rem;
    color: $boxBlue;
  }

  &__column-center {
    text-align: center;
    padding-top: 6.1rem;
  }
  &__mitarbeiter-container, &__mitarbeiter-container1, &__mitarbeiter-container2, &__mitarbeiter-container3, &__mitarbeiter-container4 {
    max-width: 285px;
    margin: 0 auto;
  }
  &__bereich {
    color: $boxBlue;
    margin-top: 0;
    margin-bottom: 1.1rem;
    padding-left: 3px;
  }

  &__liste {
    list-style: none;
    color: $boxBlue;
    padding-left: 0;

    li {
      text-align: left;
      /* max-width: 136px;
      margin: 0 auto; */
      padding-left: 9.2rem;
      padding-bottom: 1.4rem;
    }

    li a {
      text-decoration: none;
      color: $boxBlue;
    }

    li:first-of-type {
      /* list-style-image: url("../images/013-location.svg"); */
      background: url('../images/013-location.svg') 23% 25% no-repeat;
    }

    li:nth-of-type(2) {
      /* list-style-image: url("../images/004-phone.svg"); */
      background: url('../images/004-phone.svg') 23% 25% no-repeat;
    }
    li:last-of-type {
      /* list-style-image: url("../images/001-mail.svg"); */
      background: url('../images/001-mail.svg') 23% 25% no-repeat;
    }
  }

  &__banner {
    margin-top: 8.8rem;
    background-color: #f6f6f6;
    border-top: 8px solid $crashBlue;
    border-bottom: 8px solid $crashBlue;

    .ueber-uns__title {
      text-align: left;
      max-width: 93%;
      margin: 3.9rem auto;
      padding-left: 4.6rem;

      @mixin atMedium {
        & {
          padding-left: 0;
        }
      }
    }

    .ueber-uns__abzeichenImg {
      margin: 0 auto;
      padding-top: 2rem;
      padding-bottom: 4.1rem;
    }

    .ueber-uns__text-column .ueber-uns__banner-list li {
      list-style-image: url("../images/haeckchen.svg");
      padding-left: 2rem;
      padding-bottom: 2.4rem;
    }

    @mixin atMedium {
      .ueber-uns__text-column {
        padding: 6.7rem 2.8rem 0 6.7rem;
      }
    }

    @mixin atMediumLarge {
      .ueber-uns__title {
        font-size: 2.8rem;
        padding-top: 2.8rem;
      }

      .ueber-uns__text-column {
        padding: 0;
        min-width: 632px;
      }

      .ueber-uns__img-column {
        max-width: 30%;
        padding: 0 5.8rem;
        display: flex;
        align-items: center;
      }

      .ueber-uns__abzeichenImg {
        padding: 0;
      }

      ul li:last-of-type {
        padding-bottom: 6.9rem;
      }
    }
  }

  &__weitere-leistungen {
    padding-bottom: 4.4rem;

    .ueber-uns__img {
      width: 46px;
      @mixin atMedium {
        & {
          width: 63px;
        }
      }
    }

    @mixin atMedium {
      & {
        padding-bottom: 9.6rem;
      }
    }

    @mixin atExtraLarge {
      & {
        padding-bottom: 16.8rem;
      }
    }

    @media screen and (max-width: 575px) {
      & {
        max-width: 98%;
      }
    }

    @media screen and (min-width: 1440px) {
      & {
        max-width: 1422px !important;
      }
    }
  }

  &__subtitle {
    display: none;

    @mixin atMedium {
      & {
        display: block;
        text-align: center;
        color: $boxBlue;
        padding-bottom: 5.6rem;
      }
    }

    @mixin atExtraLarge {
      & {
        padding-bottom: 8.8rem;
      }
    }
  }

  @mixin atExtraLarge {
    &__xl-none {
      display: none;
    }
  }
}
