*{
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}
  
body {
  color:#0055A6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
}
a, p, li {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1.6rem;
}

p, li {
  line-height: 1.5;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #0055A6;
}
h2 {
  font-size: 2.4rem;
  text-align: center;
  color: #0055A6;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
  font-style: normal;
}


.headline {
  text-transform: uppercase;
  padding: 3rem;

  &--padding {
    padding: 3rem;
  }

  &--white {
    color: #fff
  }

  &--picture {
    display: none;
  }

  &--left {
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 3.6rem;
      line-height: 1.6;
    }    
    
    &--left {
      text-align: left;
    }

    &--white {
      display: none;
    }

    &--picture {
      display: block;
    }
  }
  @media screen and (min-width: 1200px) {
  
    &--left {
      display: none;
    }

    &--xl {
      max-width: 1000px;
      margin: 0 auto;
      text-align: left;
      padding-top: 7rem;
      padding-bottom: 6rem;
    }

    &--white {
      display: block;
    }

    &--picture {
      display: none;
    }
  }

  @media screen and (max-width: 1199px) {
    &--xl { 
     display: none;
    }
  }
}

 